@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(../imgs/header-img.jpeg) fixed center / cover no-repeat;

  height: 100vh;
}

/* Navbar */
.nav-menu {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));

  padding: 30px;

  transition: all .7s;
}

.menu-item {
  color: #EEE;

  font-size: 13px;

  letter-spacing: 1px;

  transition: color .5s;
}

.menu-item:hover {
  color: #70AED2;
}

.line1,
.line2,
.line3 {
  height: 3px;

  margin: 5px;

  transition: all .4s;

  width: 23px;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .7));

  padding: 5px 30px;
}

.hamburger-menu:focus {
  box-shadow: none;
}

.navbar-active {
  color:#70AED2;
}

/* Banner */
.banner {
  left: 50%;

  position: absolute;

  top: 50%;

  transform: translate(-50%, -50%);

  width: 80%;
}

.banner-heading {
  animation-duration: 2s;

  animation-name: anim;
}

.banner-par {
  animation-delay: .5s;

  animation-duration: 2s;

  animation-fill-mode: backwards;

  animation-name: anim;
}

@keyframes anim {
  0% {
    opacity: 0;

    transform: translateX(-100px);
  }

  100% {
    opacity: 1;

    transform: translateX(0);
  }
}

/* Services */
.services {
  background-color: #151F20;
}

.underline {
  border: 3px solid #EEE;

  margin: auto;

  width: 150px;
}

.bi.bi-journals,
.bi.bi-gear-fill,
.bi.bi-watch {
  font-size: 5rem;
}

.align {
  text-align: justify;
}

@media (max-width: 990px) {
  .align {
    text-align: center;
  }
}

.fromLeft {
  animation-duration: 3s;

  animation-name: fromLeft;
}

.fromRight {
  animation-duration: 3s;

  animation-name: fromRight;
}

@keyframes fromLeft {
  0% {
    opacity: 0;

    transform: translateX(-120px);
  }

  100% {
    opacity: 1;

    transform: translateX(0);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;

    transform: translateX(30px);
  }

  100% {
    opacity: 1;

    transform: translateX(0);
  }
}

/* Essays */
.card-shadow {
  box-shadow: 5px 8px 20px #444444;
}

.heading {
  background-color: #222;

  cursor: pointer;

  font-size: 14px;

  letter-spacing: 1px;

  opacity: .7;

  position: absolute;

  right: 0;

  top: 70%;

  transition: all .5s;

  width: 70%;
}

.heading:hover {
  opacity: 1;
}